cr-core/bin/

# Node
node_modules
node_modules/
node_modules/*
npm-debug.log


# NestJS
dist
.next
out
build

# Next.js
.next
out

# Logs
logs
*.log

# OS
.DS_Store

# Environment
.env
.env.local
.env.development
.env.production
.env.*
!.env.example
docker-compose.override.yml
coverage
.vscode
.vscode/
.vscode/*
